<?php

// identity_from_config plugin settings
$config = [];


// identity data of shared email addresses
// key: the shared email address
// value: subarray with the data. keys:
//        FIXME description
$config['identity_from_config_identities'] = [
    'info@example.com' => [
        // mandatory
        // array to define for which users the identity should be used
        // key: roundcube username (case-insensitive)
        // value: full name / display name of the user (will also be used to fill
        //        the %name% placeholders in the signature)
        'users' => [
            'foo' => 'Jane Doe',
            'bar' => 'John "Displayname" Doe'
        ],

        // Signature templates
        // the following placeholders will be replaced with the full name / display name
        // of the matching user:
        // - %name%: raw value.
        // - %name_html%: HTML entities encoded value
        // - %name_url%: URL encoded value
        'signature_plaintext' =>
              "Kind regards\n"
            . "%name%\n"
            . "ACME Inc.\n",
        'signature_html' =>
            '<p>
                Kind regards<br />
                <strong>%name_html%</strong><br />
                ACME Inc.
            </p>',

        // Optional keys
        //'organization' => 'ACME Inc.',
        //'reply-to' => 'info@example.org',
        //'bcc' => 'info@example.net',
        //'is_standard' => 0,
    ]
];


// Switch for signature handling
//
// true: overwrite existing signatures on each login (not only name, organization,
//       email and so on).
// false: do not touch / overwrite the signature of an identity (so a user can
//        still maintain the signature value and format in a self-reliant way)
$config['identity_from_config_update_signatures'] = true;


// Switch for signature format
// true: use HTML instead of plain text signatures
$config['identity_from_config_use_html_signature'] = true;


// Switch for signature sanitation
// true: use rcmail_action_settings_index::wash_html() on HTML signatures.
// You can disable this if you got problems with stripped HTML attributes
// and you are sure that one you trust all data of your config in any case.
$config['identity_from_config_wash_html_signature'] = true;


// Switch to control if unmanaged identities should be deleted.
//
// FIXME description
$config['identity_from_config_delete_unmanaged'] = false;


// Regular expression (used with preg_match()) to exclude email alias addresses
// from automatic cleanup if $config['identity_from_config_delete_unmanaged']
// is true.
//
// FIXME description
$config['identity_from_config_exclude_delete_unmanaged_regex'] = '';


// Switch for logging additional debug data into the Roundcube log
// "identity_from_config_debug".
// true: Write useful debugging info into the log.
$config['identity_from_config_debug'] = true; // FIXME set to false before release
